[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphql-core = "*"
fastmcp = "*"
graphql-api = "*"
graphql-http-server = "*"

[dev-packages]
pytest = "*"
strawberry-graphql = "*"
pytest-cov = "*"
pytest-asyncio = "*"
coverage = "*"
faker = "*"
flake8 = "*"
